### 튜플은 어떻게 만들까?

In [1]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [3]:
# 튜플의 요솟값을 삭제하려 할 때
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [5]:
# 튜플 요솟값을 변경하려 할 때
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [7]:
# 인덱싱하기
t1 = (1, 2, 'a', 'B')
t1[0]

1

In [8]:
# 슬라이싱하기
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [9]:
# 류플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [10]:
# 튜플 곱하기
t2 = (3,4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [11]:
# 튜플 길이 구하기
t1 = (1, 2, 'a', 'b')
len(t1)

4